<ion-tabs>
  <ion-tab tabIcon="call" tabTitle="Anrufe" [root]="tab1Root"></ion-tab>
  <!--<ion-tab tabIcon="contact" [root]="tab1Root">Kontakte</ion-tab>-->
  <ion-tab tabIcon="settings" tabTitle="Einstellungen" [root]="tab2"></ion-tab>
</ion-tabs>
