<ion-header>
  <ion-navbar>
    <ion-title>
      <div style="text-align:center">
        <span (click)="initCalls()">Anrufe ({{entries.length}})</span>
        <small style="text-align:right; color: firebrick;" *ngIf="!connected">!!</small>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
      <div ion-item *ngFor="let e of entries">
        <ion-grid>
          <ion-row>
            <ion-col col-md-10>
              <span>
                <small [ngStyle]="calculateStyle_Time(e)">{{e.time}}</small>
              </span>
              <br />
              <span>
                {{e.name}}
                <small style="color:dimgray" *ngIf="e.firma != '?'"><br />{{e.kdnr}} - {{e.firma}}</small>
              </span>
              <br />
              <div style="color:dodgerblue;" *ngIf="e.desc != ''"  [innerHTML]=e.desc>
              </div>
              <span>
                {{e.telefon}}
                <small style="color: forestgreen" *ngIf="e.angerufen">- angerufen</small>
              </span>
              <br />
              </ion-col>
            <ion-col col-2 *ngIf="e.angenommenVon != ''">
              <span>
                <small>angenommen von</small>
                <br />
                {{e.angenommenVon}}
              </span>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-md-4>
              <button ion-button [ngStyle]="calculateStyle_Btn(e, 'call')" (click)="doCall(e)" large full>
                <ion-icon name="call"></ion-icon>&nbsp; anrufen
              </button>
            </ion-col>
            <ion-col col-md-3>
              <button [ngStyle]="calculateStyle_Btn(e, 'done')" ion-button (click)="doDone(e)" full round>
                <ion-icon name="star"></ion-icon>&nbsp; erledigt
              </button>
            </ion-col>
          </ion-row>
          



        </ion-grid>
      </div>

</ion-list>

</ion-content>
