<ion-header>
  <ion-navbar>
    <ion-title>
      <div style="text-align:center">
        <span>Einstellungen</span>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary">F2-Swyx-Webservice-Server:</ion-label>
      <ion-input placeholder="ws://myserver:7008" [(ngModel)]="myserver"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Rückrufe hinzufügen:</ion-label>
      <ion-toggle [(ngModel)]="rueckrufe"></ion-toggle>
    </ion-item>
    
    <ion-item>
      <button ion-button full large color="light" (click)="setSettings()">
        Speichern
      </button>
    </ion-item>
  </ion-list>
</ion-content>
